  <!-- <nav-bar style="background: black;"></nav-bar> -->
<nav class="navbar fixed-top navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"><b>Wilbrone</b></span>

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#about">AboutMe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#project">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#technology">Technology</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contacts" tabindex="-1" aria-disabled="true">Contact</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
