<section class="bdy">
    <div class="row intro5">
        <p style="height: 20%;">
            Hi,
        </p>
        <p style="height: 20%;">
            my name is 
        </p>
        <p style="height: 20%;">
            Wilbrone
        </p>
        <p style="height: 20%;">
            Okoth
        </p>
    </div>
    <div class="stack">
        FullStack web developer
    </div>
</section>

<section class="sect2">
    <div class="container quots">
        “The future belongs to those who<br> learn more skills and combine<br> them in <em>creative</em> ways”
    </div>

    <div class="row about">
        <div class="col-md-4" style="margin-right:2em;">
            Hello there I am Wilbrone, a Graphic Communication specialist. I work in helping communication be made through the different
            graphical presentations. I also work as a Software Devoloper (Front-End). Core goals being functionality and interractivity.
            I recieved my BSc. in Graphic Communication and Advertisement from Moi University, where I studied Graphic Desgn, Animation and Communication.
        </div>
        <div style="min-height: 60%; border: solid 0.1em orange;">
        </div>
        <div class="col-md-4" style="margin-left:2em;">
            I have worked as an intern Front End Developer at Xelpha, to build hospital based applications. The application I built using Angular frame work with Typscript.
            I also helped with User Experience (UX). I used PhotoShop to create the different screen models and used invision for the presentation.
        </div>
    </div>

</section>
<section class="sect3">
    <div class="works">
        WORKS
    </div>
    <div style="height:90%;width: 80%; margin: 0 auto; margin-top: 2rem;background-color:skyblue;">
        <div class="projs row">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Akan Name</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://images.unsplash.com/photo-1504214002698-8bdd458f134b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                    This app matches the day you were born with the Ghanian Akan Name depending on the gender the user inputs
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a href="https://wilbrone.github.io/aka-name/" target=_blank>
                        <button mat-button color="primary">
                            VIEW APP
                        </button>
                    </a>
                </mat-card-actions>
            </mat-card>

            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Akan Name</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://images.unsplash.com/photo-1504214002698-8bdd458f134b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                    This app matches the day you were born with the Ghanian Akan Name depending on the gender the user inputs
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a href="https://wilbrone.github.io/aka-name/" target=_blank>
                        <button mat-button color="primary">
                            VIEW APP
                        </button>
                    </a>
                </mat-card-actions>
            </mat-card>

            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Akan Name</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://images.unsplash.com/photo-1504214002698-8bdd458f134b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                    This app matches the day you were born with the Ghanian Akan Name depending on the gender the user inputs
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a href="https://wilbrone.github.io/aka-name/" target=_blank>
                        <button mat-button color="primary">
                            VIEW APP
                        </button>
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</section>
<section class="technology">
    <img src="">
    <div class="example-section">
        <mat-progress-bar
            class="example-margin"
            style="height:20%;"
            [matTooltip]="matTooltip"
            [color]="color"
            [mode]="mode"
            [value]="value"
            [bufferValue]="bufferValue">
        </mat-progress-bar>
    </div>
    <div class="example-section">
        <mat-progress-bar
            class="example-margin"
            style="height:20%;"
            [matTooltip]="matTooltip1"
            [color]="color"
            [mode]="mode"
            [value]="value1"
            [bufferValue]="bufferValue">
        </mat-progress-bar>
    </div>
</section>
<section class="footer">
    <div class="">
    </div>
    <mat-card class="cards">
        
    </mat-card>
    <mat-card class="fnote">Simple card</mat-card>
</section>
