.bdy{
    width: 100%;
    height: 100%;

    background-image: url(../../../assets/images/safar-safarov-MSN8TFhJ0is-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}
.intro5{
    position: absolute;
    width: 45%;
    height: 40%;
    top: 30%;
    left: 3%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 5px;
    text-align: center;
}
.intro5 > p{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Anton';
    font-size: 2.5em;
    font-stretch: expanded;
    letter-spacing: 3px;
}
.stack{
    position: absolute;
    text-align: center;
    top: 39%;
    left: 17.1%;
    color: whitesmoke;
    font-size: 2.5rem;
    font-family: 'Courgette', cursive;
    border: solid white;
}
.sect2{
    height: 100%;
    background-color: black;
    top: 100%;
}
.quots{
    position: relative;
    color: whitesmoke;
    top: 16%;
    left: 0%;
    font-size: 3.2rem;
    font-family: 'Playfair Display', serif;
}
.quots > em{
    /* text-decoration: underline; */
    /* text-decoration-color: wheat; */
    /* color: white; */
    background-color: wheat;
    color: black;
    font-size: 4.3rem;
    font-family: 'Oleo Script', cursive;
}


/* #intro{
    background-color: black;
    color: white;
    position: absolute;
    width: 4%;
    text-align: center;
    top: 20%;
    left: 10%;
    font-family: 'Anton';
    font-size: 2.5em;
    font-stretch: expanded;
    letter-spacing: 3px;
}
#intro2{
    background-color: black;
    color: white;
    position: absolute;
    width: 16%;
    text-align: center;
    top: 20%;
    left: 15%;
    font-family: 'Anton';
    font-size: 2.5em;
    font-stretch: expanded;
    letter-spacing: 3px;
}
#intro3{
    background-color: black;
    color: white;
    position: absolute;
    width: 12%;
    text-align: center;
    top: 20%;
    left: 32%;
    font-family: 'Anton';
    font-size: 2.5em;
    font-stretch: expanded;
    letter-spacing: 3px;
}
#intro4{
    background-color: black;
    color: white;
    position: absolute;
    width: 8%;
    text-align: center;
    top: 20%;
    left: 45%;
    font-family: 'Anton';
    font-size: 2.5em;
    font-stretch: expanded;
    letter-spacing: 3px;    
} */