<section class="bdy">
    <div class="row intro5">
        <p style="height: 20%;">
            Hi,
        </p>
        <p style="height: 20%;">
            my name is 
        </p>
        <p style="height: 20%;">
            Wilbrone
        </p>
        <p style="height: 20%;">
            Okoth
        </p>
    </div>
    <div class="stack">
        FullStack web developer
    </div>
</section>

<section class="sect2">
    <div class="container quots">
        “The future belongs to those who<br> learn more skills and combine<br> them in <em>creative</em> ways”
    </div>

    <div class="row about">
        <div class="col-md-4" style="margin-right:2em;">
            Hello there I am Wilbrone, a Graphic Communication specialist. I work in helping communication be made through the different
            graphical presentations. I also work as a Software Devoloper (Front-End). Core goals being functionality and interractivity.
            I recieved my BSc. in Graphic Communication and Advertisement from Moi University, where I studied Graphic Desgn, Animation and Communication.
        </div>
        <div style="min-height: 60%; border: solid 0.1em orange;">
        </div>
        <div class="col-md-4" style="margin-left:2em;">
            I have worked as an intern Front End Developer at Xelpha, to build hospital based applications. The application I built using Angular frame work with Typscript.
            I also helped with User Experience (UX). I used PhotoShop to create the different screen models and used invision for the presentation.
        </div>
    </div>

</section>
<section class="sect3">
    <div class="works">
        WORKS
    </div>
    <div style="height:90%;width: 80%; margin: 0 auto; margin-top: 2rem;background-color:skyblue;">
        <div class="projs row">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Akan Name</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://images.unsplash.com/photo-1504214002698-8bdd458f134b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                    This app matches the day you were born with the Ghanian Akan Name depending on the gender the user inputs
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a href="https://wilbrone.github.io/aka-name/" target=_blank>
                        <button mat-button color="primary">
                            VIEW APP
                        </button>
                    </a>
                </mat-card-actions>
            </mat-card>

            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Akan Name</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://images.unsplash.com/photo-1504214002698-8bdd458f134b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                    This app matches the day you were born with the Ghanian Akan Name depending on the gender the user inputs
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a href="https://wilbrone.github.io/aka-name/" target=_blank>
                        <button mat-button color="primary">
                            VIEW APP
                        </button>
                    </a>
                </mat-card-actions>
            </mat-card>

            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Akan Name</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://images.unsplash.com/photo-1504214002698-8bdd458f134b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                    This app matches the day you were born with the Ghanian Akan Name depending on the gender the user inputs
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a href="https://wilbrone.github.io/aka-name/" target=_blank>
                        <button mat-button color="primary">
                            VIEW APP
                        </button>
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</section>
<section class="technology">
    <div class="tech" style="width:70%;margin:0 auto;margin-top:4rem;">
        <p>JavaScript</p>
        <div class="example-section">
            <mat-progress-bar
                class="example-margin"
                style="height:20%;"
                [matTooltip]="matTooltip"
                [color]="color"
                [value]="value"
                [bufferValue]="bufferValue">
            </mat-progress-bar>
        </div>
    </div>

    <div class="tech" style="width:70%;margin:0 auto;margin-top:4rem;">
        <p style="color:orange;">Python</p>
        <div class="example-section">
            <mat-progress-bar
                class="example-margin"
                style="height:20%;"
                [matTooltip]="matTooltip1"
                [color]="color"
                [value]="value1"
                [bufferValue]="bufferValue">
            </mat-progress-bar>
        </div>
    </div>

    <div class="tech" style="width:70%;margin:0 auto;margin-top:4rem;">
        <p style="color:red;">Angular</p>
        <div class="example-section">
            <mat-progress-bar
                class="example-margin"
                style="height:20%;"
                [matTooltip]="matTooltip2"
                [color]="color"
                [value]="value2"
                [bufferValue]="bufferValue">
            </mat-progress-bar>
        </div>
    </div>
    
</section>
<section class="footer">
    <div class="">
    </div>
    <mat-card class="row cards">
        <div class="col-md-5 col-sm-12" style="margin-top:4rem;margin-bottom:3rem;">
            <div style="margin-top:4rem;">
                <i class="material-icons">email</i>&nbsp;&nbsp;&nbsp;: 
                <a href="">wilbroneokoth@gmail.com</a><br><br>
                <i class="material-icons">phone</i>&nbsp;&nbsp;&nbsp;:
                +254 727516308<br><br>
                <img src="https://img.icons8.com/material/32/000000/twitter-squared.png">
                &nbsp;: <a href="https://twitter.com/wilbrone_baron" target=_blank>@wilbrone_baron</a>
            </div>
        </div>  
        <div class="col-md-5 col-sm-12" style="margin-top:4rem;margin-bottom:3rem;">
            <mat-toolbar color="primary" style="width:100%; background-color: orange;">
                <p style="text-align:center;margin:0 auto;">
                    Let's Chat
                </p>
            </mat-toolbar>
            <form class="example-form" method="post" action="">
                <div class="row" style="">
                    <mat-form-field class="example-width"  style="width:45%; margin-left:3%;">
                        <mat-label>Name</mat-label>
                        <input type="text" matInput placeholder="Your name">
                    </mat-form-field>

                    <mat-form-field class="example-width" style="width:43%; margin-left:5%;">
                        <mat-label>Email</mat-label>
                        <input type="text" matInput placeholder="Your email address ">
                    </mat-form-field>
                </div>

                <mat-form-field class="example-full-width">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Your coment here..."></textarea>
                </mat-form-field>

                <button mat-raised-button color="" type="submit" style="background-color: orange;">SEND</button>
            </form>
        </div>

    </mat-card>
    <mat-card class="fnote">
        <p>
            Copyrihgt &copy; 2020 Wilbrone. All Rights Reserved.
        </p>
    </mat-card>
</section>
