.hm {
    height: 100%;
    background-image: url(../../../assets/images/safar-safarov-MSN8TFhJ0is-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.name {
    width: 46%;
    margin-left: 2rem;
    padding-top: 10rem;
    justify-content: space-between;
}

.name p {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Anton';
    font-size: 2.7em;
    font-stretch: expanded;
    letter-spacing: 3px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#stack {
    margin-left: 17rem;
    width: fit-content;
    text-align: center;
    color: black;
    font-size: 2.5rem;
    font-family: 'Courgette', cursive;
    border: solid orange;
}

@media screen and (max-width: 768px) {
    .hm {
        width: 100%;
    }
    .name {
        width: 80%;
        margin-left: 1rem;
    }
    .name p {
        font-size: 2em;
        letter-spacing: 5.4px;
        background-color: black;
    }
    #stack {
        margin-left: 1rem;
        font-size: 1.5rem;
        background-color: orange;
    }
}

.abt {
    height: 100%;
    background-color: black;
}

#quots {
    color: whitesmoke;
    padding-top: 3rem;
    font-size: 3.2rem;
    font-family: 'Playfair Display', serif;
}

#quots em {
    background-color: wheat;
    color: black;
    font-size: 4.3rem;
    font-family: 'Oleo Script', cursive;
}

.abtm {
    margin-top: 2rem;
}

#about_h {
    color: whitesmoke;
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    font-weight: lighter;
}

#desc1 {
    color: whitesmoke;
    padding: 0;
    line-height: 1.7rem;
    margin-left: 1rem;
}

#desc2 {
    color: whitesmoke;
    padding: 0;
    line-height: 1.7rem;
}

.spacer {
    border: solid 0.1em orange;
    min-height: 100% !important;
    margin-left: 3em;
    margin-right: 3em;
}

@media screen and (max-width: 768px) {
    .abt {
        height: fit-content;
    }
    #quots {
        font-size: 2.0rem;
        padding: 1rem;
    }
    #quots em {
        font-size: 2.5rem;
    }
    .abtm {
        margin-left: 1rem;
        margin-top: 1rem;
        width: fit-content;
        padding: 0;
    }
    #about_h {
        font-size: 1.5em;
        padding: 0;
    }
    #holder {
        margin: 0;
    }
    #desc1,
    #desc2 {
        font-size: 0.7rem;
        width: 100%;
        margin: 0;
        margin-right: 0.5rem;
        line-height: 1.5rem;
        letter-spacing: 0.05em;
    }
    #desc1 {
        border: solid orange;
        border-bottom: 0;
        padding: 0.5rem 0.5rem 0;
    }
    #desc2 {
        padding-left: 0.4rem !important;
        border-bottom: 0;
        padding: 0 0.6rem 0.5rem !important;
    }
    .spacer {
        border: 0;
    }
}

.work {
    height: 100%;
    display: flex;
}

#prjt-label {
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.7em;
    color: black;
    background-color: skyblue;
    width: fit-content;
    font-size: 4em;
    text-align: center;
    font-stretch: wider;
    transform: rotate(-90deg);
    height: fit-content;
    margin: auto -16rem;
    padding-left: 1.5rem;
}

.probg {
    height: 90%;
    width: 85%;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: skyblue;
}

.projs {
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    #prjt-label {
        font-size: 3em;
        margin: auto -16rem;
        letter-spacing: 1em;
    }
    .probg {
        background: transparent;
        margin-top: 2rem;
        padding-top: 0.8rem;
        padding-bottom: 0.6rem;
    }
    .projs {
        overflow-y: scroll;
        padding: 0 !important;
        margin-top: 0.5rem;
        height: 100% !important;
    }
    .projs>mat-card {
        height: 100%;
        margin-bottom: 0.3rem;
    }
}

.tech {
    border: solid;
    height: 100%;
}

.tech_head {
    background-color: black;
    width: 86%;
    margin-left: 9.5rem;
    color: white;
}

.tech_head p {
    padding-top: 1.5rem;
    padding-left: 2rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.2em;
}

.tech_head h1 {
    padding-left: 2rem;
    margin-top: -1rem;
    font-family: 'Playfair Display', serif;
}

#table_dt {
    padding-left: 2rem;
    margin-top: 5rem;
    padding-bottom: 0.5rem;
}

#title_card {
    background-color: black !important;
    margin-bottom: -0.4rem !important;
    border: solid !important;
    padding-left: 2rem !important;
}

#table_dt mat-card {
    color: white;
    background-color: #333;
    width: 75%;
    height: 3.5rem;
    margin-bottom: 1rem;
}


/* .cover {
    height: 100%;
    width: 100%;
    float: right;
    background-image: url('https://4sptech.com/wp-content/uploads/2019/11/Web-Application-Development0.jpg');
    background-image: url('https://www.theasianweb.com/wp-content/uploads/2018/05/web-development-services-1.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
} */


/* ******************************** old new border********************************************************** */


/* .navbar{
    background-color: #e3f2fd;
    height:10%;
} */

.navbar {
    overflow: hidden;
    background-color: #333;
    display: block;
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}


/* Links inside the navbar */

.navbar a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change background on mouse-over */

.navbar a:hover {
    background: #ddd;
    color: black;
}

.sect3 {
    height: 100%;
    /* background-color: transparent; */
}


/* .works {
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.7em;
    color: black;
    font-stretch: wider;
    font-size: 4em;
    transform: rotate(-90deg);
    width: 46%;
    position: absolute;
    left: -19.5%;
    top: 267%;
    text-align: center;
    background-color: skyblue;
} */

.projs {
    position: relative;
    width: 95%;
    margin: 0 auto;
    padding-top: 4rem;
    justify-content: space-evenly;
    height: 90%;
}

.example-card {
    max-width: 30%;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.technology {
    height: 100%;
    background-color: black;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    margin-left: 0.5rem;
}

.tech>p {
    font-family: 'Anton', sans-serif;
    color: beige;
    font-size: 2em;
    margin: 0;
    width: 40%;
    margin-left: 1rem;
}

.example-margin {
    margin: 0 10px;
    width: 50%;
}

.footer {
    height: 80%;
    margin-top: 3rem;
}

.cards {
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
    display: flex;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 2rem;
}

.example-full-width {
    width: 100%;
}

.fnote {
    position: absolute;
    width: 100%;
    bottom: -417%;
    height: 12%;
    text-align: center;
    background-color: skyblue;
}

.fnote>p {
    font-size: 0.8em;
    margin-top: 1rem;
    color: black;
    letter-spacing: 0.3em;
}

.button {
    background-color: whitesmoke;
    position: absolute;
    bottom: -395%;
    right: 1%;
}

@media screen and (max-width: 768px) {
    .navbar {
        overflow: hidden;
        background-color: #333;
        display: block;
        top: 0;
        /* Position the navbar at the top of the page */
        width: 100%;
        /* Full width */
    }
}
