<section id="home" class="hm">
  <div class="row name">
    <p>
      Hi,
    </p>
    <p>
      my name is
    </p>
    <p>
      Wilbrone
    </p>
    <p>
      Okoth
    </p>
  </div>
  <div id="stack">
    FullStack web developer
  </div>
</section>

<section id="about" class="abt">
  <div class="container" id="quots">
    “The future belongs to those who<br> learn more skills and combine<br> them in <em>creative</em> ways”
  </div>
  <div class="container abtm">
    <h3 id="about_h"><u>About Me</u></h3>
    <div class="row" id="holder">
      <div class="col-md-4 col-sm-12" id="desc1">
        Hello there, I am Wilbrone, a Graphic Communication specialist. I work in helping communication through the different
        graphical presentations and designs. In addition to that, I am a Software Devoloper (FullStack), attained from Moringa School. Core goals being functionality and interractivity.
        I recieved my BSc. in Graphic Communication and Advertisement from Moi University, where I studied Graphic Desgn, Animation and Communication.
      </div>
      <div class="spacer"></div>
      <div class="col-md-4 col-sm-12" id="desc2">
        I worked as an intern Front End Developer at Xelpha, I helped build hospital based applications. The techology used for the application were Angular framework with Typscript.
        I also assisted with the User Experience(UX). I used PhotoShop to create the different screen models and invision for the presentation of the screens.
      </div>
    </div>
  </div>
</section>

<section class="work" id="project">
  <div id="prjt-label">
    PROJECTS
  </div>
  <mat-card class="probg">

  </mat-card>
  <!-- <div class="probg">
    <div class="projs row">
      <mat-card class="col-md-3 col-sm-12">
        <mat-card-header>
          <mat-card-title>Akan Name</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://images.unsplash.com/photo-1504214002698-8bdd458f134b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            This app matches the day you were born with the Ghanian Akan Name depending on the gender the user inputs
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://wilbrone.github.io/aka-name/" target=_blank>
            <button mat-button style="color:orange;">
              VIEW APP
            </button>
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="col-md-3 col-sm-12">
        <mat-card-header>
          <mat-card-title>Hood Crawler</mat-card-title>
        </mat-card-header>
        <img mat-card-image style="height:47%;" src="https://images.unsplash.com/photo-1475698066764-3dc9200f1c93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            This app is to help our user to find good and better as they can see
            the businesses within the area and hotline numbers.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://hood101.herokuapp.com/" target=_blank>
            <button mat-button style="color:orange;">
              VIEW APP
            </button>
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="col-md-3 col-sm-12">
        <mat-card-header>
          <mat-card-title>Github Search</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://images.unsplash.com/photo-1477949331575-2763034b5fb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            This app allows users with Github accounts to key in their github usernames
            and their profile and repos will be displayed on the page.
            The users can also enter a repo name and search through the various repos hosted on github.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://wilbrone.github.io/Github-Search" target=_blank>
            <button mat-button style="color:orange;">
              VIEW APP
            </button>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div> -->
</section>

<section class="tech" id="technology">
  <!-- <div class="cover">
  </div> -->
<!-- *************************************** -->
  <!-- REFACTOR THIS TO HAVE AN OBJECT WITH LANGUAGE AND INDEX SCORES -->
<!-- *************************************** -->

  <div class="tech_head">
    <p>My Technologies For</p>
    <h1>SOFTWARE DEVELOPMENT</h1>
    <div id='table_dt'>
      <mat-card id="title_card">
        <div class="row" id="techno_head">
          <div class='col-md-2 col-sm-2' style="font-size:0.6rem;text-align:left;">RANK</div>
          <div class="col-md-3 col-sm-3" style="font-size:0.6rem;">TECHNOLOGY</div>
          <div class="col-md-7 col-sm-7" style="font-size:0.6rem;">INDEX SCORE</div>
        </div>
      </mat-card>
      <mat-card>
        <div class="row" style="text-align:center;">
          <div class='col-md-2' class="rank" style="font-size:0.9rem;">5</div>
          <div class="col-md-3 col-3" style="font-size:0.9rem;text-align:left;">HTML</div>
          <div class="col-md-7 col-8" style="font-size:0.9rem;text-align:left;">
            <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <div class="row" style="text-align:center;">
          <div class='col-md-2' class="rank" style="font-size:0.9rem;">6</div>
          <div class="col-md-3 col-3" style="font-size:0.9rem;text-align:left;">CSS</div>
          <div class="col-md-7 col-8" style="font-size:0.9rem;text-align:left;">
            <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <div class="row" style="text-align:center;">
          <div class='col-md-2' class="rank" style="font-size:0.9rem;">1</div>
          <div class="col-md-3 col-3" style="font-size:0.9rem;text-align:left;">TypeScript</div>
          <div class="col-md-7 col-8" style="font-size:0.9rem;text-align:left;">
            <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <div class="row" style="text-align:center;">
          <div class='col-md-2' class="rank" style="font-size:0.9rem;">2</div>
          <div class="col-md-3 col-3" style="font-size:0.9rem;text-align:left;">JavaScript</div>
          <div class="col-md-7 col-8" style="font-size:0.9rem;text-align:left;">
            <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <div class="row" style="text-align:center;">
          <div class='col-md-2' class="rank" style="font-size:0.9rem;">3</div>
          <div class="col-md-3 col-3" style="font-size:0.9rem;text-align:left;">Python</div>
          <div class="col-md-7 col-8" style="font-size:0.9rem;text-align:left;">
            <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <div class="row" style="text-align:center;">
          <div class='col-md-2' class="rank" style="font-size:0.9rem;">4</div>
          <div class="col-md-3 col-3" style="font-size:0.9rem;text-align:left;">PHP</div>
          <div class="col-md-7 col-8" style="font-size:0.9rem;text-align:left;">
            <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</section>
<section class="contact" id="contacts">
  <mat-card>
    <div class="row" id="find-me">
      <!-- FOR SOCIAL MEDIA CONTACTS -->
      <div class="col-md-5 col-sm-12" style="margin-top:4rem;margin-bottom:3rem;">
        <div id="cntcts">
          <i class="material-icons">email</i>&nbsp;&nbsp;&nbsp;
          <span>wilbroneokoth@gmail.com</span><br><br>
          <i class="material-icons">phone</i>&nbsp;&nbsp;&nbsp;
          <span>+254 727516308</span><br><br>
          <img src="https://img.icons8.com/material/32/000000/twitter-squared.png">
          &nbsp; <a href="https://twitter.com/wilbrone_baron" target=_blank>@wilbrone_baron</a>
          <br><br>
          <img src="https://img.icons8.com/material/32/000000/linkedin--v1.png"/>
          &nbsp; <a href="https://www.linkedin.com/in/wilbrone-baron-4336b5155/" target=_blank>Wilbrone Baron</a>
          <br><br>
          <img src="https://img.icons8.com/material/32/000000/github.png"/>
          &nbsp; <a href="https://github.com/wilbrone" target=_blank>wilbrone</a>
        </div>
      </div>
      <!-- FOR THE CONTACT FORM -->
      <div class="col-md-5 col-sm-12" style="margin-top:4rem;margin-bottom:3rem;">
        <mat-toolbar color="primary" style="width:100%; background-color: orange;">
          <p style="text-align:center;margin:0 auto;">
              Let's Chat
          </p>
        </mat-toolbar>
        <form class="example" [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-width">
              <mat-label>Name</mat-label>
              <input type="text" matInput placeholder="Your name" formControlName="fullname">
          </mat-form-field>

          <mat-form-field class="example-width" id="two">
            <mat-label>Email</mat-label>
            <input type="text" matInput placeholder="Your email address" formControlName="email">
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput placeholder="Your coment here..." formControlName="comment"></textarea>
          </mat-form-field>

          <button mat-raised-button color="" type="submit" style="background-color: orange;">SEND</button>
        </form>
      </div>
    </div>
  </mat-card>
</section>
<section class="footer">
    <p>Copyrihgt &copy; 2020 Wilbrone. All Rights Reserved.</p>
</section>
